<footer class="bg-dark text-light mt-5 pt-5 pb-3 mt-200">
        <div class="container">
            <div class="row">
            
            <div class="col-md-4 mb-4">
                <h5>Litera</h5> <p class="text-white-50">
                Misi kami adalah menyediakan koleksi buku terlengkap dari seluruh dunia
                untuk para pembaca di Indonesia, dengan pelayanan yang cepat dan harga
                yang terjangkau.
                </p>
            </div>
            
            <div class="col-md-2 mb-4">
                <h5>Kategori</h5>
                <ul class="list-unstyled">
                <li><a href="#" class="text-white-50 text-decoration-none">Novel</a></li>
                <li><a href="#" class="text-white-50 text-decoration-none">Self-Development</a></li>
                <li><a href="#" class="text-white-50 text-decoration-none">Komik</a></li>
                <li><a href="#" class="text-white-50 text-decoration-none">Biografi</a></li>
                <li><a href="#" class="text-white-50 text-decoration-none">Edukasi</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5>Bantuan & Akun</h5>
                <ul class="list-unstyled">
                    <li><a href="/profile" class="text-white-50 text-decoration-none">Profil Saya</a></li>
                    <li><a href="/cart" class="text-white-50 text-decoration-none">Keranjang</a></li>
                    <li><a href="/login" class="text-white-50 text-decoration-none">Login</a></li>
                    <li><a href="/register" class="text-white-50 text-decoration-none">Register</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Hubungi Kami</h5>
                <ul class="list-unstyled text-white-50 small">
                <li>Email: support@litera.com</li> <li>Telepon: (021) 123-4567</li>
                </ul>
            </div>
            
            </div>
            
            <hr class="text-white-50">
            <div class="row">
            <div class="col text-center">
                <p class="text-white-50 small">&copy; 2025 Litera Project. All Rights Reserved.</p>
            </div>
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/main.js"></script>
    </body>
</html>