<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Litera</title>
</head>
<body>
    
    <%- include('../partials/navbar') %>

    
    <h1>Welcome to LITERA Book Store</h1>
    <p>Tempat terbaik untuk menemukan buku favoritmu 📚</p>

    <%- include('../partials/footer') %>

</body>
</html>